@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Sora:wght@100;200;300;400;500;600;700;800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap'); 

:root {
   --link-color-hover: #ff3399;
   --link-color: #03db03;
   --nav-color: #9ccf23;
}

body {
 margin: 0 auto;
 padding: 10px;
 max-width: 800px;
 font-family: 'Concert One', cursive;
 background-image: url("../images/rick-and-morty.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
 background-color: #cccc;
 color: #ffffff;
  
}

header {
 display: flex;
 justify-content: flex-end;
 align-items: baseline;
}

header a {
 width: 25px;
 height:25px;
 fill: var(--link-color);
 margin-left: 2px;
}
header a:hover{
 fill: var(--link-color-hover);
 stroke: #ff3399;
}

.nav {
 flex: 1;
}

.nav a{
 color: var(--nav-color);
 text-decoration: none;
 font-family: 'Concert One', cursive;
 font-size: 1.5em;
 font-weight: 400;
}

.nav a:hover{
   color: var(--link-color-hover)
}

.whoami {
 align-items: baseline;
}

h1{
 font-size: 38px;
}

.whoami h1 {
 margin-top: 120px;
 margin-bottom: 0px;
 font-size: 4em;
}

.contact {
 display: flex;

}

.whoami p {
 font-family: 'Concert One', cursive;
 margin-top: 0px;
 flex:16;
}

.whoami a {
 width: 25px;
 height:25px;
 fill: var(--link-color);
}

.whoami a:hover{
 fill: #ff3399;
 stroke: #ff3399;
}

.content {
 text-align: justify;
 margin-top: 50px;
 border-radius: 5px;
 background-color: #8e1492c5;
 overflow: hidden;
 padding: 0px 10px 0px 10px;
}

.content a {
 color: grey;
}

.content a:hover{
 color: #ff3399;
}

.codeblock {
 font-family: "Courier New";
 margin-top: 2px;
 padding-top: 10px;
 padding-bottom: 10px;
}
.codeblock p{
 padding-left: 20px;
}

footer {
   color: var(--link-color);
   font-size: 12px;
   padding-top:2rem;
   padding-bottom: 8rem;
   text-align: center;
}

footer a {
 color: var(--link-color);
 text-decoration: none;
}

footer a:hover{
 color: #ff3399;
}

footer svg {
   fill: var(--link-color);
   width: 20px;
}

footer svg:hover {
 fill: #ff3399;
 stroke: #ff3399;
}


.task {
display: flex;
flex-direction: row-reverse;
justify-content: flex-start;
align-items: center;
}

.task button {
 display: inline-block;
 background-color: white;
 border: 2px solid #4CAF50;
 border-radius: 4px;
 margin-left: 10px;
 color: #4CAF50;
 padding: 5px 8px;
 text-align: center;
 text-decoration: none;
 font-size: 14px;
 transition-duration: 0.4s;
 cursor: pointer;
}


#hint0, #hint1, #hint2, #hint3, #hint4, #hint5  {
 flex:2;
 background-color: white;
 border: 2px solid #ff8000;
 color: #ff8000;
}

.button-spacer {
 margin-left:auto; 
}

.task input {
 flex: 10;
 display: block;
 padding: 4px;
 font-weight: 400;
 font-size:14px;
 line-height: 1.5;
 color: #495057;
 background-color: #fff;
 border: 1px solid #ced4da;
 border-radius: 4px;
}


.downloadbutton-container {
 display: flex;
 justify-content:space-between;
 align-items: flex-end;
 margin-bottom: 10px;
}

.downloadbutton-container button{
 background-color: #008dd8;
 border: none;
 border: 2px solid #008dd8;
 border-radius: 4px;
 color: white;
 padding: 5px 8px;
 text-align: center;
 text-decoration: none;
 font-size: 14px;
 transition-duration: 0.4s;
 cursor: pointer;
}

.downloadbutton-container button:hover{
   background-color: #00a6ff;
   border: 2px solid #00a6ff;
   color: white;
}

.points-class {
 display: flex;
 justify-content: space-between;
 align-self: flex-end;
}

.points-class h2 {
   font-size: 2.5em;
  }

#points-id {
 color: #14ff56;
 font-size: 22px;
 font-weight: 700;
}

.dialog {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   margin-bottom:  5px;;
   }

.dialog p {
   margin: 0; /* Remove default margin for the paragraph */
   display: inline; /* Make the paragraph inline to be next to the image */
   word-wrap: break-word; /* Break long words onto the next line */
   overflow-wrap: break-word; /* Control word breaks in case of overflow */
 } 
 .RICK {
   background-color: #006685;
   padding:10px;
   border-radius: 10px;
 }

.RICK::before{
   content: "";
   background:url('../images/RICK.png'); /* with class ModalCarrot ??*/
   background-size: cover; /* Scale the image to cover the entire space */
   min-width: 50px;
   width: 50px; /* Set the desired width */
   height: 50px; /* Set the desired height */
   display: inline-block; /* Make the pseudo-element inline */
   margin-right: 10px; /* Add some spacing between the image and text */
   vertical-align: middle; /
}

.MORTY {
   background-color: #db8400;
   padding:10px;
   border-radius: 10px;
 }

.MORTY::before{
   content: "";
   background:url('../images/MORTY.png'); /* with class ModalCarrot ??*/
   background-size: cover; /* Scale the image to cover the entire space */
   min-width: 40px;
   width: 40px; /* Set the desired width */
   height: 40px; /* Set the desired height */
   display: inline-block; /* Make the pseudo-element inline */
   margin-right: 14px; /* Add some spacing between the image and text */
   margin-left: 6px;
   vertical-align: middle; /
}

.BETH {
   background-color: #42033a;
   padding:10px;
   border-radius: 10px;
 }
.BETH::before{
   content: "";
   background:url('../images/BETH.png'); /* with class ModalCarrot ??*/
   background-size: cover; /* Scale the image to cover the entire space */
   min-width: 45px;
   width: 45px; /* Set the desired width */
   height: 45px; /* Set the desired height */
   display: inline-block; /* Make the pseudo-element inline */
   margin-right: 10px; /* Add some spacing between the image and text */
   margin-left: 5px;
   vertical-align: middle; /
}

.SUMMER {
   background-color: #99056d;
   padding:10px;
   border-radius: 10px;
 }

.SUMMER::before{
   content: "";
   background:url('../images/SUMMER.png'); /* with class ModalCarrot ??*/
   background-size: cover; /* Scale the image to cover the entire space */
   min-width: 45px;
   width: 45px; /* Set the desired width */
   height: 45px; /* Set the desired height */
   display: inline-block; /* Make the pseudo-element inline */
   margin-right: 10px; /* Add some spacing between the image and text */
   margin-left: 5px;
   vertical-align: middle; /
}