@import "menu.css";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


:root{
--main-color: #4b0168;
--font-color: rgb(63, 63, 63);
--font-h4-color: rgb(80, 80, 80);
--task-container-color: rgb(235, 230, 230);
}

body {
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

.owner{
    font-size: 0.9em;
    font-weight: 500;
    color: rgb(100, 99, 99);
}
h1 {
    font-size: 2.5em;
    color: #413c42;
}

h2 {
    font-weight: 700;
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    margin-bottom: 5px;
    color: var(--font-h4-color)
}

p {
    margin-top: 0px;
}

.main-header-container {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 50px;
    width: 100%;
    top:0px;
    left:0px;
    z-index: 999;
    position: fixed;        
    background: rgb(255, 255, 255);
    margin: 0px;
    color: var(--main-color);
}

.main-content-container{
    margin-left:45px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.chapter-overview-flex{
    display:flex;
}

.chapter-overview-container{
    border-color: var(--main-color);
   /* border-width: 1px;;
    border-style: solid; */
    font-size: 0.8em;
}

.overview-info-container *{
    margin: 0px;;
}

.overview-info-container a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.overview-info-container a:hover{
    color:black;
    font-size: larger;
}

.overview-info-container li{
    list-style-position: inside;
    list-style-image: url('../images/icons/check.svg');
    margin: 0px 20px  0px 10px;
    color: rgb(68, 68, 68);
    font-weight: 300;
}

.overview-info-container{
    display:flex;
    position: fixed;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 30px;
    gap: 15px;
}

.kilde {
    font-style: italic;
    font-size:  0.8em;
    color: #8d8c8d;
}

.main-content-menu{
    display: flex;
}

.wallpaper-container{
    flex:1;
    object-fit: cover;
    min-height:100%;
    position: fixed;
    overflow-x:hidden;
    background-position: center 30%;
    min-width: 50vw;
    background-size: cover;
}

.wallpaper-box{
    min-width: 50vw;
    object-fit: cover;
    background-position: center center;
    position: relative;
    overflow-x:hidden;
}
.poster-wrapper{
    max-width: 20em;
}

.poster{
    width: 100%;
    margin-bottom: 20px;
}

.poster-fakta{
    display: flex;
    font-size: 0.9em;
    color: var(--font-color);
    list-style-type: none;
    gap: 20px;
}

.poster-fakta .poster-fakta-name{
    font-weight: 400;
}

.image-container {
    display: none;
    margin:0px;
    padding: 0px;
}

.copyright-image{
    display: inline-flex;
    padding: .625rem .9375rem;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0,0,0,.5);;
    font-size: 0.75em;;
    color: #fff;
}

.left-menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    height: 100%;
    padding: 0px;
    margin: 0px;
    width: 46px;
    background-color: var(--main-color);
}

.left-menu a{
    text-align: center;
    color:aliceblue;
    font-size: 0.9em;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
}

.left-menu a:hover{
    background-color: rgba(0,0,0,0.5);
}

.main-content-right-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width:  900px;
    margin-right: auto;
}

.chapter-content-right-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width:  1400px;
    margin-right: auto;
}

.main-content-right{
    padding: 10px 40px  10px;
}

.chapter-content-left-margen{
    /* margin-left: 200px; */
    margin-left:20px;
}

.chapter-content-container{
    display: flex;
    gap: 40px;

}

.chapter-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items:  center;
    
}

.menu-chapter-wrapper{
    display: flex; 
    align-content: flex-start; 
    gap: 10px; 
    margin-bottom: 20px;
}

.film-poster-wrapper img{
    height: 250px;
}

.menu-chapter-info p{
    margin: 0px;
    font-size: 0.85em;
    color: var(--font-color);
}

.chapter-text{
    flex:1;
}

.chapter-text p{
    margin: 0px;
    font-size: 1em;
    color: var(--font-color);
}

.chapter-text .indent li{
    list-style-position: inside;
    font-size: 1em;
    color: var(--font-color);
}

.task-container{
    margin-bottom: 40px;
    background-color: var(--task-container-color);
    padding:20px;   
}

.task-container li{
    margin-left: 20px;
    color: var(--font-color)
}

.task-container p{
    font-size: 1.1em;
    font-weight: 400;
}

.sub-tasks h3{
    margin: 40px 0px 5px;
}


.menu-chapter-number-style{
    margin: 0px;
    color: #8c00c4;
}

.menu-chapter-title {
    margin: 0px;
}

.spacer{
    margin: 200px auto 200px auto;
    max-width: 600px;;
    text-align: center;
    font-style: italic;
    color:#6a676b
}

.chapter-title{
    margin-top : 10px;
    margin-left: 20px;
    margin-bottom: -9px;
}

.chapter-number{
    background-color: var(--main-color); 
    color:aliceblue; 
    padding:2px 4px 2px 4px;
    margin: 0px 00px 0px 00px;
    font-size: 16px;
}

.chapter-wrapper{
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 0px;
    border: 1px;
    padding: 20px;
    border-style: solid;
    border-color: #370246;
    max-width: calc(50% + 750px);
}


.chapter-image-container{
    flex:1;
    max-width:  200px;
    margin-right: 20px;
}

.chapter-header-image-container{
    display: block;
    height: 30vh;
    background-position: center 30%;
    width: calc(100% + 40px);
    background-size: cover;
    display: flex;
    position: relative;
    left: -20px;
    top: -20px;
    z-index: -1;
    margin-bottom:  20px;;
}

.no-bullets-container { 
    display: flex;
    align-content:  center;
    gap: 10px 60px;
    color: grey;  
    list-style-type: none;
    margin-top: 40px;
    font-size:  0.85em;
}

.argument{
    font-weight: 900;
}

/* MENU - FÆLLES MÅL*/
.faelles-maal-container *{
    margin: 0px;
}

.faelles-maal-container{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 20px;
}

.faelles-maal-container p{
    font-size: 0.9em;
}

.faelles-mael-niveau{
    font-size: 0.8em;
    font-weight: 700;
    color:#afafaf;
}

.movie-column{
    display: flex;
    gap: 20px;
}

.quote{
    margin: 20px;
    padding: 10px;
    font-style: italic;
    border: 1px;
    border-style: solid;
    border-color: var(--main-color);
    font-size: 0.9em;
    font-weight: 300;
    color: #413c42;
}

@media (max-width: 1200px) {
    .menu-chapter-wrapper{
        flex-direction: column;
    }
}


@media (max-width: 1000px) {
    body {
        min-width: 700px;
    }
    .main-content-menu {
        flex-direction: column
    }
    .main-content-right-wrapper{
        min-width: 100%;
        
    }
    .image-container{
        display: block;
    }
    .wallpaper-container {
        display: block;
        position: relative;
        height: 40vh;
        background-position: center 30%;
        min-width: 100%;
        background-size: cover;
    }

    .chapter-content-wrapper{
        flex-direction: column;
    }
    .menu-chapter-wrapper{
        flex-direction:row;
    }
    .chapter-content-container {
        flex-direction: column;
    }
    .poster{
        width: 15em;
    }
    .chapter-overview-container{
        display: none;
    }
    .chapter-content-left-margen{
        margin-left: 0px;
    }
    .poster-wrapper{
        display: flex;
        max-width: 70vw;
        gap: 20px;
    }
    .movie-column{
        flex-direction: column;
    }

    
}

@media (max-width: 600px) {
    .menu-chapter-wrapper{
        flex-direction: column;
    }


}

/* Code By Webdevtrick ( https://webdevtrick.com/header-underline-active-item/) */
.top{
    display: flex;
    width: 520px;
    min-width: 520px;
 /*   border-bottom: 0.125rem solid grey; */
    margin-bottom:  30px;
}

  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  ul li {
    position: relative;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    color:grey;
    font-size: 0.85em;
  }
  ul li::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #3c006d;
    transform: scaleX(0);
  }
  ul li.active::after {
    transform: scaleX(1);
  }
  li.active{
      color:#4b0168;
  }
  ul li:hover{
      color: #4b0168;
  }
