@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Sora:wght@100;200;300;400;500;600;700;800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "menu.css";
@import "tables.css";



:root{
  --main-color: #2e2e2e;
  --menu-color: rgb(71, 71, 71);
  --menu-underline-color: #0e00cc;
  --menu-hover-color:#040696;
  --font-color: rgb(63, 63, 63);
  --font-h4-color: rgb(80, 80, 80);
  --font-h1-color: rgb(7, 0, 49);
  --font-chapter-color: rgb(44, 44, 83);
  --kilde-color: grey;
  --file-name-color: grey;
  --link-hover-color: #002874;
  }

  
body {
 margin: 0 auto;
 padding: 10px;
 max-width: 1000px;
 min-width: 580px;
 font-family: 'Oxygen', sans-serif;
}

header {
 display: flex;
 justify-content: flex-end;
 align-items: baseline;
}

header a {
 width: 25px;
 height:25px;
 fill: black;
 margin-left: 2px;
}
header a:hover{
 fill: var(--link-hover-color);
 stroke: var(--link-hover-color);
}

.nav {
 flex: 1;
}

.nav a{
 color: black;
 text-decoration: none;
 font-family: 'IBM Plex Mono', monospace;
 font-weight: 400;
}

.intro-header {
 align-items: baseline;
 margin-bottom: 50px;
}

h1{
 font-size: 38px;
}

.intro-header h1 {
 margin-top: 120px;
 margin-bottom: 0px;
}

.contact {
 display: flex;
}

.intro-header p {
 font-family: "Courier New";
 margin-top: 0px;
 flex:16;
}

.intro-header a {
 width: 25px;
 height:25px;
 fill: black;
}

.intro-header a:hover{
 fill: var(--link-hover-color);
 stroke: var(--link-hover-color);
}

.content {
 text-align: justify;
 margin-top: 50px;
}

.content a {
 color: grey;
}

.content a:hover{
 color: var(--link-hover-color);
}

.new-chapter{
    margin-top: 80px;
}

.vejledning {
 font-family: "Courier New";
 color: grey;
}

.argument{
 font-weight: 900;
}

.no-bullets-container {
 list-style-type: none;
 margin: 0;
 padding: 0;
 display: flex;
 gap: 40px;
}

.codeblock {
 font-family: "Courier New";
 background-color: #f2f2f2;
 margin-top: 5px;
 margin-bottom: 5px;
 padding-top: 10px;
 padding-bottom: 20px;
 padding-right: 20px;
}

.codeblock p{
 padding-left: 20px;
}

.hintblock {
  background-color: #e7fadc;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.hintblock p{
  padding-left: 20px;
 }

.program {
 font-family: "Courier New";
 color: #a300cc;
 font-weight: bold;
}

.cmd {
 font-family: "Courier New";
 background-color: #f2f2f2;
 padding-left:3px;
 padding-right: 3px;
 color: #e60000;
}

.math {
  color:rgb(105, 105, 105);
  font-weight: 400;
  font-family: 'Cambria Math', serif;
}

.math_variables {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 350px;
}

.math_varialbes div,p {
  align-self: flex-start;
  font-size: 1.15em;
}



figure {
 /*display: flex;
 margin: auto;
 flex-direction: column; */
 font-family: "Courier New";
 color: grey;
 /*display: block; */
}


.task_content {
 display: flex;
 justify-content: flex-start;
 align-items: baseline;
}

footer {
   color: black;
   font-size: 12px;
   padding-top:2rem;
   padding-bottom: 8rem;
   text-align: center;
}

footer a {
 color: black;
 text-decoration: none;
}

footer a:hover{
 color: var(--link-hover-color);
}

footer svg {
   fill: black;
   width: 20px;
}

footer svg:hover {
 fill: var(--link-hover-color);
 stroke: var(--link-hover-color);
}

input {
    margin: .4rem;
}

.ressourcer a {
    text-decoration: none;
    font-weight: 700;
    margin-left: 20px;
}
#xls:hover{
    color: green;
}

table{
    padding: 0px 0px 0px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 100%;
    border-collapse: collapse;
    border-left: 0px;
    border-right: 0px;
}

td, th {
    border: 1px solid #dddddd;
    font-size: 0.8em;
    font-weight: 200;
    text-align: left;
    padding: 8px;
  }

th {
  color: #7e7d7d;
}

.my_table_class h4{
  margin: 2px;
}

 
button {
    border: none;
    color: white;
    background-color: transparent;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.task button {
    padding-left: 20px;
    padding-top: 15px;
}

/* MENU STYLE */


/* RESOURCE DOOWNLOAD */
.file-name  {
  color: var(--file-name-color);
}


/* Code By Webdevtrick ( https://webdevtrick.com/header-underline-active-item/) */
.top{
    display: flex;
    width: 720px;
    min-width: 720px;
 /*   border-bottom: 0.125rem solid grey; */
    margin-bottom:  30px;
}

  .top {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: 30px;
  }

  .top li {
    position: relative;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    color:grey;
    font-size: 0.85em;
  }
  .top li::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--menu-underline-color);
    transform: scaleX(0);
  }
  .top li.active::after {
    transform: scaleX(1);
  }
  .top li.active{
      color: var(--menu-color);
  }
  .top li:hover{
      color: var(--menu-hover-color);
  }

  .top li a {
    text-decoration: none;
    color:grey;

  }

  .exceleks{
    margin-bottom: 100px;
  }

  .frame-container-center{
    margin: auto;
    width:fit-content;
}