@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "menu.css";
@import "colors.css";


body {
  background-color: var(--background-color);


}

.updated{
  font-size: 0.7em;
}
.updated::before{
  content: "Sidst opdateret: ";
 }

.content-wrapper {
  margin: 0 auto;
  max-width: 800px;
  font-family: "Kanit", serif;
  font-weight: 300;
  font-style: normal;
  color: var(--font-color);
}


h1{
  font-size: 60px;
  font-weight: 500;
 }


 h2{
  font-size: 30px;
  font-weight: 500;
 }

 h3{
  font-size:20px;
  font-weight: 400;
 }

 h4{
  font-weight: 400;
 }

.main-content-container{
  margin: 50px 20px 50px 20px;
}

header {
 display: flex;
 justify-content: flex-end;
 align-items: baseline;
}

header a {
 width: 25px;
 height:25px;
 fill: var(--font-color);
 margin-left: 2px;
}
header a:hover{
 fill: var(--link-hover-color);
 stroke: var(--link-hover-color);
}

.nav {
 flex: 1;
}

.nav a{
 color: var(--font-color);
 text-decoration: none;
 font-family: monospace;
 font-weight: 400;
}

.intro-header {
 align-items: baseline;
 margin-bottom: 50px;
}

.intro-header h1 {
 margin-top: 120px;
 margin-bottom: 0px;
}

.contact {
 display: flex;
}

.intro-header p {
 margin-top: 0px;
 flex:16;
}

.intro-header a {
 width: 25px;
 height:25px;
 fill: black;
}

.intro-header a:hover{
 fill: var(--link-hover-color);
 stroke: var(--link-hover-color);
}

.content {
 text-align: justify;
}

.content a {
 color: var(--link-color);
 text-decoration: none;
}

.content a:hover{
 color: var(--link-hover-color);
}


.content .no-frame{
  border: 20px;
  box-shadow: 0px 0px 0px;
}

.new-chapter{
    margin-top: 80px;
}


.info {
  font-weight: 500;
  color:#2e0420;
  font-style: italic;
}

.small{
  width: 30px;
}

._red{
  color:#cf0000;
  font-weight: 500;
}



footer {
   color: var(--font-color);
   font-size: 12px;
   padding-top:2rem;
   padding-bottom: 8rem;
   text-align: center;
}

footer a {
 color: var(--font-color);
 text-decoration: none;
}

footer a:hover{
 color: var(--link-hover-color);
}

footer svg {
   fill: black;
   width: 20px;
}

footer svg:hover {
 fill: var(--link-hover-color);
 stroke: var(--link-hover-color);
}

input {
    margin: .4rem;
}

.ressourcer a {
    text-decoration: none;
    font-weight: 700;
    margin-left: 20px;
}
#xls:hover{
    color: green;
}

table{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  
button {
    border: none;
    color: white;
    background-color: transparent;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}


/* MENU STYLE */


/* RESOURCE DOOWNLOAD */
.file-name  {
  color: var(--file-name-color);
}


/* Code By Webdevtrick ( https://webdevtrick.com/header-underline-active-item/) */
.top{
    display: flex;
    margin-bottom:  30px;
}

  .top {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .top li {
    position: relative;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    color:grey;
    font-size: 0.85em;
  }
  .top li::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--menu-underline-color);
    transform: scaleX(0);
  }
  .top li.active::after {
    transform: scaleX(1);
  }
  .top li.active{
      color: var(--menu-color);
      font-weight: 400;
  }
  .top li:hover{
      color: var(--menu-hover-color);
      font-weight: 400;
  }


  .frame-container-center{
    margin: auto;
}
  .frame-container-center iframe{
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }

.normalsider{
    font-size: 0.7em;
    font-weight: 600;
    color: var(--kilde-color)
}

.normalsider::before{
    content: "Normalsider |";
}


.kilde {
    text-decoration: none;
    font-style: italic;
    font-size:  0.8em;
    color: var(--kilde-color);
}


blockquote p::before{
    content: "\201C";
}

blockquote p::after{
    content: "\201D";
}

blockquote cite{
  display: block;
  text-align: right;
}

blockquote{
  margin: 20px 0px 20px 0px;
  padding: 20px;
  font-style: italic;
  border-color: var(--main-color);
  font-size: em;
  font-weight: 300;
  color: #413c42;
  display: block;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}


.spacer{
  margin: 100px auto 10px auto;
  text-align: center;
  font-style: italic;
  color:#6a676b
}