:root{
    --task-background:  rgb(204, 172, 113);
    --task-header-color: rgb(95, 73, 33);
}

.task {
    background-color: var(--task-background);
    color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }


  /* Terminal Header (Mac-style buttons) */
  .task-header{
    background-color: var(--task-header-color);
    padding: 8px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  
  .title {
    color: #cccccc;
    font-size: 18px;
    font-weight: 800;
  }



.task-text {
    display: block;
    color: #2e2e2e;
    padding: 15px;
    font-size: 1.1rem;
  }