
:root{
    --task-container-color: rgb(255, 255, 255);
    --task-number-background: rgb(207, 152, 0);
    --conspiracy-level-reality-denial: rgb(255, 218, 7);
    }

    
.task-number-wrapper{
    display:flex; 
    align-items: flex-start; 
    flex-direction: column;
    margin-left: 15px;
}

.task-number{
    background-color: var(--task-number-background);
    color:aliceblue; 
    margin-left :45px;
    padding:2px 10px 2px 10px;
    font-size: 16px;
    margin: 0px;
}

.task-container{
    border-radius: 15px;
    margin-bottom: 40px;
    border: 4px;
    border-style: solid;
    border-color: var(--task-number-background);
    background-color: var(--task-container-color);
    padding:20px;   
    box-shadow: 5px 4px rgba(78, 78, 78, 0.4);
}

.task-container *{
    margin: 0px 0px 10px 0px;
    list-style-position: inside;
}

.task-container ul>li {
    margin-left: 20px;
}

.task-description{
    font-weight: 500; 
    font-size: 1.2em;
    margin-bottom: 20px;
}